RewriteEngine On
Options +FollowSymLinks
RewriteBase /


# Forcing ssl
#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} !^www\.tutorkami\.com$ [NC]
#RewriteRule ^(.*)$ https://www.tutorkami.com/$1 [L,R=301]


# Route html file to php file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ $1.php?%{QUERY_STRING} [L]


# Route image to live server
RewriteCond %{HTTP_HOST} ^tk\.io$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^images/(.*)$ https://www.tutorkami.com/images/$1 [L,R]


# Error document
ErrorDocument 403 /page/403.php
ErrorDocument 404 /page/404.php
ErrorDocument 405 /page/405.php
ErrorDocument 405 /page/408.php
ErrorDocument 405 /page/500.php
ErrorDocument 405 /page/502.php
ErrorDocument 503 /page/504.php


## API
RewriteRule ^api/([A-Za-z0-9-]+) 	api/index.php?action=$1 [nc,qsa]


## Hide .php extension
## To externally redirect /dir/file.php to /dir/file except for POST requests
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} /(.+?)\.php[\s?] [NC]
RewriteRule ^ %1 [R=302,L,NE]


# To internally forward /dir/file to /dir/file.php
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}\.php -f
RewriteRule ^(.+?)/?$ $1.php [L]


# Remove trailing slash
RewriteRule ^(.*)\/(\?.*)?$ $1$2 [R=301,L]


# Rewrite folder url to show content from root folder
RewriteRule ^my(\/?)$ /index.php [QSA,NC,L]
RewriteRule ^my/(.*)(\/?)$ /$1 [QSA,NC,L]


# Redirect to a local site file
Redirect 301 /en/register /register
Redirect 301 /home_tuisyen /cikgu_tuisyen_di_rumah
Redirect 301 /en/job-listings /search_job
Redirect 301 /my/job-listings /my/search_job
Redirect 301 /my/t/register-terms-and-conditions /my/terms_condition
Redirect 301 /blog/tutor.php /tuition
Redirect 301 /blog/about.php /tuition
Redirect 301 /blog/login.php /tuition


## url_shorten.php
RewriteRule ^([a-z0-9]{10})$ index.php?redirect=$1 [L] 


# Redirect with parameter
RewriteCond %{QUERY_STRING} ^areastate=(.+?)$
RewriteRule ^ /search_tutor2?state=%1 [R=301,L]


# Redirect blog
# RedirectMatch ^/blog/(.*)$ https://www.tutorkami.com/tuition/
RedirectMatch ^/blog/bm/(.*)$ https://www.tutorkami.com/tuition/
RedirectMatch ^/blog/popular/(.*)$ https://www.tutorkami.com/tuition/
RedirectMatch ^/blog/tag/(.*)$ https://www.tutorkami.com/tuition/
RedirectMatch ^/blog/category/(.*)$ https://www.tutorkami.com/tuition/
RedirectMatch ^/blog/page/(.*)$ https://www.tutorkami.com/tuition/


<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"


  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"


  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"


  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>


# Disable ETags
<IfModule mod_headers.c>
	Header unset ETag
</IfModule>


FileETag None


# Compresses text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript